out/
raw_data/
docs/dox/html
docs/dox/*.tmp
docs/DJEngineReference.chm
*.ncb
*.suo
*.user
*.zpak
*.apk
*.mode1v3
*.pbxuser
*.xcbkptlist
externals/mikmod/mikmod/src/lib/x86/*.lib
externals/tinyxml/Debug/
externals/tinyxml/Release/
externals/chipmunk-physics/lib/x86/*.lib
externals/chipmunk-physics/msvc/vc9/chipmunk/Debug DLL/
externals/chipmunk-physics/msvc/vc9/chipmunk/Debug/
externals/chipmunk-physics/msvc/vc9/chipmunk/Release/
externals/chipmunk-physics/msvc/vc9/demo/Debug/
externals/chipmunk-physics/msvc/vc9/demo/Release/
externals/OpenFeintSDK/
externals/bullet-2.78/
externals/enet-1.3.1/
externals/zlib/contrib/vstudio/vc9/x86
examples/crystalloid
examples/alieninvasion/alieninvasion.exe
examples/test3d/test3d.exe
examples/alieninvasion/build/
libdefault.so
*.xcscheme
xcscheme*.plist
libchipmunk.a
libmikmod.a
libpng.a
libtinyxml.a
libzlib.a
enet.lib
enet_d.lib
mikmod_cdecl.lib
mmio_cdecl.lib
mmio_d.lib
djengine.lib
djengine_r.lib
djengine_d.lib
djopenalsound.lib
djopenalsound_r.lib
djopenalsound_d.lib
djos.lib
djos_r.lib
djos_d.lib
gles2render.lib
gles2render_r.lib
gles2render_d.lib
towers.exe
libdjengine.a
libdjopenalsound.a
libdjos.a
libdjzapisound.a
libdjgles2render.a
libgles2render.a
*.idb
*.pdb
*.bsc
*.sbr
*.obj
BuildLog.htm
*.manifest
*.manifest.res
*.ilk
*.dep

